{% extends "layout.html" %}

{% block content %}

<div class='row'>
    <div class='col'>
        <h2>{{title}}</h2>
    </div>
    <div class='col'>
        <span style='float:right;'>
            <a href="{{url_for('create_component', project_id=project.project_id ,_method='POST')}}" class="btn btn-primary" role="button" aria-pressed="true">Create</a>
        </span>
    </div>
</div>
<h5>Business Year: {{'2019-2020'}}</h5>

    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Component ID</th>
                <th scope="col">Name</th>
                <th scope="col">Project Id</th>
                <th scope="col">Project Name</th>
                <!-- <th scope="col">Project Name</th> -->
            </tr>
            </thead>
            <tbody>

            <!-- Construct the rest of courses here -->

            {% for component in all_components %}
            <tr>
                <td scope='row'>{{component["component_id"]}}</td>
                <td>{{component["name"]}}</td>
                <td>{{project.project_id}}</td>
                <td>{{project.title}}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}