
{% extends "layout.html" %}

{% block content %}

<div class='row'>
    <div class='col'>
        <h2>{{title}}</h2>
    </div>
    <div class='col'>
        <span style='float:right;'>
            <a href="{{url_for('create_project',_method='POST')}}" class="btn btn-primary" role="button" aria-pressed="true">Create</a>
        </span>
    </div>
</div>
<h5>Business Year: {{'2019-2020'}}</h5></span>
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Project ID</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Start</th>
                <th scope="col">Estimated End</th>
                <th scope="col">Components</th>
            </tr>
            </thead>
            <tbody>

            <!-- Construct the rest of courses here -->

            {% for project in all_projects %}
            {% set bugs_url = url_for('bugs', project_id=project.project_id) %}
            <tr onclick="window.location='{{bugs_url}}';">
                <td scope='row'>{{project["project_id"]}}</td>
                <td>{{project["title"]}}</td>
                <td>{{project["description"]}}</td>
                <td>{{project["start"].strftime('%d/%m/%Y')}}</td>
                <td>{{project["end"].strftime('%d/%m/%Y')}}</td>
                <td><a href="{{url_for('components', project_id=project.project_id, _method='POST')}}" class="btn btn-primary" role="button" aria-pressed="true">{{project["title"]}}</a></td>

            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}